@media all and (min-width: 1000px) {
  section.landing {
    text-align: left;
    padding-left: 5rem;
    background-image: url(/assets/Desktop-hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
  }
  .nav {
    height: 120px;
  }
  .nav .right {
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav .right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 250px;
    margin-right: 3rem;
  }
  .right ul a {
    text-decoration: none;
  }
  .landing-arrow {
    padding-top: 5vmax;
  }
  .neon-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .neon-container .neon-text {
    text-align: left;
    font-size: 85px;
  }
  .subtitle {
    text-align: left;
    font-size: 1.5rem;
    position: absolute;
    left: 400px;
    -webkit-transform: translateY(-50%) rotate(-10deg);
            transform: translateY(-50%) rotate(-10deg);
  }
  .hero-para {
    margin: unset;
    text-align: left;
    font-size: 19px;
    margin-top: 5rem;
    padding-left: 0;
    padding-bottom: 3rem;
  }
  section.latest {
    position: relative;
  }
  .latest-title {
    font-size: 5.5rem;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .latest-intro {
    margin-bottom: 60px;
    font-size: 19px;
  }
  .latest-gallery {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 1400px;
    margin: auto;
  }
  .latest-gallery .final {
    display: block;
  }
  .gallery-tag {
    right: 2.5vw;
    margin-top: 0px;
  }
  .latest-gallery .gallery-img {
    width: 33.3%;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 1rem;
    padding-bottom: 1rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .gallery-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .gallery-img:nth-child(3n) {
    padding-right: 1rem;
  }
  .testimonials {
    min-height: 700px;
    padding-top: 8rem;
  }
  .testimonial-container {
    max-width: 1100px;
    border: solid pink;
  }
  .testimonial-content {
    max-width: 700px;
    border: dotted green;
  }
  .testimonial-body {
    font-size: 19px;
    margin-bottom: 50px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .test-item {
    border: dashed yellow !important;
  }
  .testimonial-author {
    font-size: 22px;
  }
  .testimonial-container [class*="arr"] {
    width: 25px;
    position: relative;
    top: 50px;
  }
  .testimonial-container .arr-left {
    -webkit-transform: rotateZ(90deg) translateX(-20px) scale(1.4);
            transform: rotateZ(90deg) translateX(-20px) scale(1.4);
  }
  .testimonial-container .arr-right {
    -webkit-transform: rotateZ(-90deg) translateX(20px) scale(1.4);
            transform: rotateZ(-90deg) translateX(20px) scale(1.4);
  }
  .testimonials .draw-self {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
  #floralFace {
    -webkit-transform: translate(8vw, 16vh);
            transform: translate(8vw, 16vh);
  }
  #floralFace path {
    -webkit-transition: 20s ease;
    transition: 20s ease;
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
  }
  #floralFace:hover path {
    stroke-dashoffset: 0;
  }
  #stag {
    -webkit-transform: translate(82vw, 12vh);
            transform: translate(82vw, 12vh);
  }
  section.contact {
    background-size: 65%;
    background-position: right;
    min-height: 90vh;
    position: relative;
    z-index: -2;
  }
  section.contact::before {
    content: "";
    width: 45vw;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(35vw, #141414), to(transparent));
    background-image: linear-gradient(to right, #141414 35vw, transparent);
    z-index: -1;
  }
  .contact-content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 5rem;
  }
  .contact-content .brush {
    margin-top: 10rem;
  }
  .contact-content .body {
    text-align: left;
  }
}
