* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "True Lies";
  src: url(/assets/TrueLies.ttf);
}

@font-face {
  font-family: "brat";
  src: url(/assets/Brat.ttf);
}

@font-face {
  font-family: "NEON";
  src: url(/assets/Neon.ttf);
}

body {
  background-image: url(/assets/bgBricks.jpg);
  background-repeat: repeat;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0);
  max-width: 100vw;
  overflow-x: hidden;
}

section.landing {
  height: 100vmax;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  /* border: solid pink; */
  text-align: center;
  position: relative;
  min-height: 600px;
  z-index: 2;
}

.nav {
  height: 80px;
  /* border: solid red; */
  margin-bottom: 0rem;
  padding-bottom: 3vmax;
  display: flex;
}

.nav .left,
.nav .right {
  /* border: solid; */
  flex: 1;
  display: flex;
  align-items: center;
}

.nav .left {
  flex: 2;
}

.nav .name {
  transform: rotate(-1deg);
  padding-left: 1.5rem;
}

:root {
  --neon-text-color: cyan;
  --neon-text-glow: rgba(0, 255, 255, 0.76);
  --bg-glow-color: rgba(42, 219, 219, 0.226);
}

.neon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0rem;
  padding-bottom: 6vmax;
}

.brush {
  font-family: "True Lies";
  color: rgb(235, 233, 233);
  letter-spacing: 0.3rem;
  transform: rotate(-9deg);
}

.subtitle {
  text-align: center;
  margin-bottom: 0rem;
  padding-bottom: 10vmax;
  font-size: 6.5vmin;
}

.hero-para {
  color: white;
  font-family: "Lato", sans-serif;
  text-align: center;
  /* width: 80vw; */
  padding: 0 1.5rem;
  padding-bottom: 7vmax;
  max-width: 550px;
  margin: auto;
}

.cta {
  background-color: cyan;
  padding: 0.8rem 1.1rem;
  letter-spacing: 0.15em;
  text-decoration: none;
  font-family: brat;
  font-size: 1rem;
  color: rgb(34, 34, 34);
  box-shadow: 0px 0px 20px var(--neon-text-glow);
  animation: throb infinite 10s ease alternate;
  margin-bottom: 5vmax;
}

@keyframes throb {
  from {
    box-shadow: 0px 0px 20px var(--neon-text-glow);
  }

  to {
    box-shadow: 0px 0px 30px var(--neon-text-glow);
  }
}

.landing-bottom {
  position: absolute;
  bottom: 0;
  height: 100px;
  background-image: linear-gradient(transparent, rgb(20, 20, 20));
  width: 100vw;
  max-width: 100vw;
  text-align: center;
  margin-top: 5vmax;
}

.landing-arrow {
  display: block;
  width: 30px;
  animation: float 3s ease alternate infinite;
  text-align: center;
  margin: auto;
  padding-top: 12vmax;
  z-index: 2;
}

@keyframes float {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(15px);
  }
}
.neon-text {
  font-family: "NEON";
  color: var(--neon-text-color);
  font-size: 12vmin;
  text-align: center;
  text-shadow: var(--neon-text-color) 0px 0px 5px,
    var(--neon-text-color) 0px 0px 3px;
  letter-spacing: 0.5rem;
  position: relative;
  animation: flickertext 4s infinite;
}

.neon-text h1 {
  position: relative;
  /* height: 150px; */
  /* padding: 2rem; */
  /* overflow-x: hidden; */
}

.neon-text h1::before {
  content: "";
  width: 140%;
  height: 100%;
  position: absolute;
  /* border: solid; */
  left: 0%;
  transform: translateX(-15%);
  background-image: radial-gradient(var(--bg-glow-color) 55%, transparent 75%);
  filter: blur(35px);
  animation: flickerbg 4s infinite;
}

@keyframes flickertext {
  19% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }
  20% {
    text-shadow: none;
    color: rgb(34, 34, 34);
  }
  24% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }

  79% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }

  80% {
    text-shadow: none;
    color: rgb(34, 34, 34);
  }
  81% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }
  81.5% {
    text-shadow: none;
    color: rgb(34, 34, 34);
  }
  83% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }

  100% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }
}

@keyframes flickerbg {
  19% {
    background-image: radial-gradient(
      var(--bg-glow-color) 55%,
      transparent 75%
    );
  }

  20% {
    background-image: radial-gradient(
      rgba(46, 243, 243, 0.096) 55%,
      transparent 75%
    );
  }

  24% {
    background-image: radial-gradient(
      var(--bg-glow-color) 55%,
      transparent 75%
    );
  }

  79% {
    background-image: radial-gradient(
      var(--bg-glow-color) 55%,
      transparent 75%
    );
  }

  80% {
    background-image: radial-gradient(
      rgba(46, 243, 243, 0.096) 55%,
      transparent 75%
    );
  }
  81% {
    background-image: radial-gradient(
      var(--bg-glow-color) 55%,
      transparent 75%
    );
  }
}

.latest {
  height: 100vh;
  background-color: rgb(20, 20, 20);
  border: pink solid;
}
