* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "True Lies";
  src: url(/assets/TrueLies.ttf);
}

@font-face {
  font-family: "brat";
  src: url(/assets/Brat.ttf);
}

@font-face {
  font-family: "NEON";
  src: url(/assets/Neon.ttf);
}

body {
  background-image: url(/assets/bgBricks.jpg);
  background-repeat: repeat;
  -webkit-box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0);
          box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0);
  max-width: 100vw;
  overflow-x: hidden;
}

section.landing {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  /* border: solid pink; */
  text-align: center;
  position: relative;
  min-height: 100vh;
  z-index: 2;
}

.nav {
  height: 80px;
  /* border: solid red; */
  margin-bottom: 0rem;
  padding-bottom: 3vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .left,
.nav .right {
  /* border: solid; */
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.nav .name {
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  padding-left: 1.5rem;
}

.nav .right ul {
  display: none;
}

:root {
  --neon-text-color: cyan;
  --neon-text-glow: rgba(0, 255, 255, 0.76);
  --bg-glow-color: rgba(42, 219, 219, 0.226);
  --gallery-margin: 0.7rem;
}

.neon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0rem;
  padding-bottom: 6vmax;
}

.brush {
  font-family: "True Lies";
  color: #ebe9e9;
  letter-spacing: 0.3rem;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
}

.subtitle {
  text-align: center;
  margin-bottom: 0rem;
  padding-bottom: 10vmax;
  font-size: 6.5vmin;
}

.hero-para {
  color: white;
  font-family: "MADE TOMMY", "Lato", sans-serif;
  text-align: center;
  /* width: 80vw; */
  padding: 0 1.5rem;
  padding-bottom: 7vmax;
  max-width: 550px;
  margin: auto;
}

.cta {
  background-color: cyan;
  padding: 0.8rem 1.1rem;
  letter-spacing: 0.15em;
  text-decoration: none;
  font-family: brat;
  font-size: 1rem;
  color: #222222;
  -webkit-box-shadow: 0px 0px 20px var(--neon-text-glow);
          box-shadow: 0px 0px 20px var(--neon-text-glow);
  -webkit-animation: throb infinite 10s ease alternate;
          animation: throb infinite 10s ease alternate;
  margin-bottom: 5vmax;
}

@-webkit-keyframes throb {
  from {
    -webkit-box-shadow: 0px 0px 20px var(--neon-text-glow);
            box-shadow: 0px 0px 20px var(--neon-text-glow);
  }
  to {
    -webkit-box-shadow: 0px 0px 30px var(--neon-text-glow);
            box-shadow: 0px 0px 30px var(--neon-text-glow);
  }
}

@keyframes throb {
  from {
    -webkit-box-shadow: 0px 0px 20px var(--neon-text-glow);
            box-shadow: 0px 0px 20px var(--neon-text-glow);
  }
  to {
    -webkit-box-shadow: 0px 0px 30px var(--neon-text-glow);
            box-shadow: 0px 0px 30px var(--neon-text-glow);
  }
}

.landing-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#090909));
  background-image: linear-gradient(transparent, #090909);
  width: 100vw;
  max-width: 100vw;
  text-align: center;
}

.landing-arrow {
  display: block;
  width: 30px;
  -webkit-animation: float 3s ease alternate infinite;
          animation: float 3s ease alternate infinite;
  text-align: center;
  margin: auto;
  padding-top: 12vmax;
  z-index: 2;
}

@-webkit-keyframes float {
  from {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes float {
  from {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.neon-text {
  font-family: "NEON";
  color: var(--neon-text-color);
  font-size: 12vmin;
  text-align: center;
  text-shadow: var(--neon-text-color) 0px 0px 5px, var(--neon-text-color) 0px 0px 3px;
  letter-spacing: 0.5rem;
  position: relative;
  -webkit-animation: flickertext 4s infinite;
          animation: flickertext 4s infinite;
}

.neon-text h1 {
  position: relative;
  /* height: 150px; */
  /* padding: 2rem; */
  /* overflow-x: hidden; */
}

.neon-text h1::before {
  content: "";
  width: 140%;
  height: 100%;
  position: absolute;
  /* border: solid; */
  left: 0%;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  background-image: radial-gradient(var(--bg-glow-color) 55%, transparent 75%);
  -webkit-filter: blur(35px);
          filter: blur(35px);
  -webkit-animation: flickerbg 4s infinite;
          animation: flickerbg 4s infinite;
}

@-webkit-keyframes flickertext {
  19% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }
  20% {
    text-shadow: none;
    color: #222222;
  }
  24% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }
  79% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }
  80% {
    text-shadow: none;
    color: #222222;
  }
  81% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }
  81.5% {
    text-shadow: none;
    color: #222222;
  }
  83% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }
  100% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }
}

@keyframes flickertext {
  19% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }
  20% {
    text-shadow: none;
    color: #222222;
  }
  24% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }
  79% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }
  80% {
    text-shadow: none;
    color: #222222;
  }
  81% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }
  81.5% {
    text-shadow: none;
    color: #222222;
  }
  83% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }
  100% {
    color: var(--neon-text-color);
    text-shadow: cyan 0px 0px 30px, var(--neon-text-glow) 0px 0px 10px;
  }
}

@-webkit-keyframes flickerbg {
  19% {
    background-image: radial-gradient(var(--bg-glow-color) 55%, transparent 75%);
  }
  20% {
    background-image: radial-gradient(rgba(46, 243, 243, 0.096) 55%, transparent 75%);
  }
  24% {
    background-image: radial-gradient(var(--bg-glow-color) 55%, transparent 75%);
  }
  79% {
    background-image: radial-gradient(var(--bg-glow-color) 55%, transparent 75%);
  }
  80% {
    background-image: radial-gradient(rgba(46, 243, 243, 0.096) 55%, transparent 75%);
  }
  81% {
    background-image: radial-gradient(var(--bg-glow-color) 55%, transparent 75%);
  }
}

@keyframes flickerbg {
  19% {
    background-image: radial-gradient(var(--bg-glow-color) 55%, transparent 75%);
  }
  20% {
    background-image: radial-gradient(rgba(46, 243, 243, 0.096) 55%, transparent 75%);
  }
  24% {
    background-image: radial-gradient(var(--bg-glow-color) 55%, transparent 75%);
  }
  79% {
    background-image: radial-gradient(var(--bg-glow-color) 55%, transparent 75%);
  }
  80% {
    background-image: radial-gradient(rgba(46, 243, 243, 0.096) 55%, transparent 75%);
  }
  81% {
    background-image: radial-gradient(var(--bg-glow-color) 55%, transparent 75%);
  }
}

.latest {
  height: auto;
  /*change me*/
  background-color: #090909;
  /* border: pink solid; */
}

.latest-header {
  text-align: center;
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest-title {
  font-size: 3rem;
  padding: 0 0.4rem 3rem 0.4rem;
}

.body {
  font-family: "MADE TOMMY";
  color: whitesmoke;
  font-size: 17px;
  width: 500px;
  max-width: 85vw;
}

.latest-intro {
  opacity: 0.8;
}

.latest-gallery {
  height: auto;
  min-height: 500px;
  /* border: solid pink; */
  margin: 2rem 0rem 0rem 0rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.gallery-img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 45%;
  /* flex-basis: 140px; */
  /* max-width: 150px; */
  padding-left: var(--gallery-margin);
  padding-bottom: var(--gallery-margin);
  /* max-width: 300px; */
}

.gallery-img:nth-child(even) {
  padding-right: var(--gallery-margin);
}

.gallery-img img {
  /* border: solid red; */
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=mobile.css.map */