@media all and (min-width: 500px) {
  .latest-title {
    font-size: 4.5rem;
    padding: 2rem 1rem 5rem 1rem;
  }
  .latest-intro {
    padding-bottom: 40px;
  }
  .gallery-tag {
    display: inline-block;
    position: absolute;
    top: 100%;
    margin-top: 20px;
    right: 20px;
    color: white;
    z-index: 2;
  }
  .gallery-tag a {
    color: white;
    text-decoration: underline;
  }
  .testimonials {
    min-height: 500px;
    padding-top: 8rem;
  }
  .testimonials h2.brush {
    font-size: 9vmin;
    padding-bottom: 3vw;
  }
  .testimonial-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .testimonial-body {
    font-size: 18px;
  }
  .testimonial-container .arr-left {
    -webkit-transform: rotateZ(90deg) translateX(40px) scale(1.4);
            transform: rotateZ(90deg) translateX(40px) scale(1.4);
  }
  .testimonial-container .arr-right {
    -webkit-transform: rotateZ(-90deg) translateX(-40px) scale(1.4);
            transform: rotateZ(-90deg) translateX(-40px) scale(1.4);
  }
  .contact-content .brush {
    font-size: 9vmin;
    margin-bottom: 5rem;
    margin-top: 6rem;
  }
  .contact-content .body {
    font-size: 19px;
  }
  .contact-content .cta {
    padding: 0.8rem 1.3rem;
    margin-top: 1rem;
  }
}
