@media all and (min-width: 1000px) {
  .nav {
    height: 120px;
  }

  .nav .right {
    text-align: right;
    justify-content: flex-end;
  }
  .nav .right ul {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-right: 3rem;
    list-style-type: none;
  }

  .right ul a {
    text-decoration: none;
  }

  section.landing {
    min-height: 60vh;
    padding-bottom: 55px;
  }

  .landing .body {
    font-size: 20px;
  }

  section.gallery {
    background-color: rgb(7, 7, 7) !important;
    min-height: 600px;
  }

  .more {
    min-height: 70vh;

    .more-top {
      height: 70px;
    }

    .body {
      font-size: 20px;
      padding-top: 30px;
    }

    .brush {
      font-size: 4rem;
      padding: 8rem 0 0rem 0;
    }
  }

  section.gallery {
    .gallery-content {
      height: auto;
      columns: 3;

      a {
        max-width: 30vw;
      }
    }
  }
}
